<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb451182331748949</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>451182331748949</string>
	<key>FacebookDisplayName</key>
	<string>Learnthenumbers</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Vibur-Regular.ttf</string>
	</array>
</dict>
</plist>
